In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt  
import seaborn as sb
sb.set()

In [2]:
raw_data = pd.read_csv('Raw_Data.csv')

In [4]:
raw_data.sample(10, random_state=10)

,L(T-1),L(T-2),L(T-24),L(T-48),P(T-1),P(T-2),P(T-24),P(T-48),Day,Season,L(T)
9983,6408.18,6384.02,6107.35,6084.37,3094.03,3671.69,2596.92,2645.86,0,2,7332.38
17965,7144.43,7959.73,5383.27,6247.86,5584.21,8252.92,4481.68,4227.09,0,2,6155.33
4701,6630.60,6362.68,9033.40,8790.62,5693.83,4725.51,5461.30,4728.06,0,0,7243.55
7604,7823.38,8351.30,5893.53,6633.63,3487.92,7241.71,3143.61,2982.80,0,2,6824.18
526,4874.30,7326.53,4973.33,4926.78,2497.51,3358.00,2362.51,2207.70,1,2,3904.33
21159,7108.02,6803.59,8167.03,7216.55,3898.20,3494.73,4595.10,4874.83,0,1,7450.89
20783,3583.82,3720.20,4438.07,5906.25,10000.00,10000.00,10000.00,10000.00,0,1,3330.90
7702,5916.40,6531.63,5353.08,4800.40,2769.08,2844.67,2600.23,2069.41,0,2,5576.50
4671,5031.96,4675.35,5567.13,5101.40,2289.31,1619.66,2787.87,2740.19,0,0,5245.01
22738,6520.41,7833.83,4909.97,5689.14,2889.99,2945.25,2595.15,2002.82,0,0,5495.28

In [5]:
# rename columns
raw_data.rename(columns={'L(T-1)': 'Load 1 hour ago', 'L(T-2)': 'Load 2 hours ago', 'L(T-24)': 'Load 24 hours ago', 'L(T-48)': 'Load 48 hours ago', 
                          'P(T-1)': 'Price 1 hour ago', 'P(T-2)': 'Price 2 hours ago', 'P(T-24)': 'Price 24 hours ago', 'P(T-48)': 'Price 48 hours ago', 
                          'L(T)': 'Load at current hour'}, inplace=True)

In [6]:
raw_data.sample(10, random_state=10)

,Load 1 hour ago,Load 2 hours ago,Load 24 hours ago,Load 48 hours ago,Price 1 hour ago,Price 2 hours ago,Price 24 hours ago,Price 48 hours ago,Day,Season,Load at current hour
9983,6408.18,6384.02,6107.35,6084.37,3094.03,3671.69,2596.92,2645.86,0,2,7332.38
17965,7144.43,7959.73,5383.27,6247.86,5584.21,8252.92,4481.68,4227.09,0,2,6155.33
4701,6630.60,6362.68,9033.40,8790.62,5693.83,4725.51,5461.30,4728.06,0,0,7243.55
7604,7823.38,8351.30,5893.53,6633.63,3487.92,7241.71,3143.61,2982.80,0,2,6824.18
526,4874.30,7326.53,4973.33,4926.78,2497.51,3358.00,2362.51,2207.70,1,2,3904.33
21159,7108.02,6803.59,8167.03,7216.55,3898.20,3494.73,4595.10,4874.83,0,1,7450.89
20783,3583.82,3720.20,4438.07,5906.25,10000.00,10000.00,10000.00,10000.00,0,1,3330.90
7702,5916.40,6531.63,5353.08,4800.40,2769.08,2844.67,2600.23,2069.41,0,2,5576.50
4671,5031.96,4675.35,5567.13,5101.40,2289.31,1619.66,2787.87,2740.19,0,0,5245.01
22738,6520.41,7833.83,4909.97,5689.14,2889.99,2945.25,2595.15,2002.82,0,0,5495.28