In [1]:
#Import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt  
import seaborn as sb
sb.set()

In [ ]:
#Read data
raw_data = pd.read_csv('Raw_Data.csv')

In [3]:
#Random data
raw_data.sample(10)

,governorate,building_type,rooms,season,month,city,temperature,price_per_kwh,tax_rate,consumption_kwh,bill_amount
10926,Luxor,Office,4,Summer,6,El Qurna,34.56,0.9327,0.0749,657.99,659.69
18598,Suez,Apartment,2,Winter,2,Ain Sokhna,21.26,0.8317,0.1259,181.98,170.41
13857,Asyut,Villa,6,Winter,1,Abnoub,20.54,0.8666,0.0794,662.47,619.67
29102,Alexandria,Villa,5,Summer,6,Stanley,26.21,0.9309,0.1325,685.38,722.50
4988,Minya,Apartment,1,Winter,12,Beni Mazar,24.98,0.7345,0.0824,149.92,119.19
14268,Beheira,Apartment,2,Summer,6,Kafr El Dawwar,24.47,0.7373,0.0977,238.65,193.13
1234,Alexandria,Apartment,2,Winter,1,Stanley,17.49,0.7837,0.1290,207.94,183.98
17122,Minya,Apartment,1,Autumn,10,Maghagha,27.21,0.7103,0.0925,189.19,146.80
9344,Dakahlia,Office,2,Spring,4,Mit Ghamr,21.79,0.9932,0.0991,406.64,443.89
17933,Luxor,Office,3,Winter,2,Luxor City,24.52,0.9095,0.0699,371.42,361.39

In [4]:
# rename columns
raw_data.rename(columns={'L(T-1)': 'Load 1 hour ago', 'L(T-2)': 'Load 2 hours ago', 'L(T-24)': 'Load 24 hours ago', 'L(T-48)': 'Load 48 hours ago', 
                          'P(T-1)': 'Price 1 hour ago', 'P(T-2)': 'Price 2 hours ago', 'P(T-24)': 'Price 24 hours ago', 'P(T-48)': 'Price 48 hours ago', 
                          'L(T)': 'Load at current hour'}, inplace=True)

In [5]:
raw_data.sample(10)

,governorate,building_type,rooms,season,month,city,temperature,price_per_kwh,tax_rate,consumption_kwh,bill_amount
18982,Luxor,Office,1,Summer,8,El Qurna,36.45,0.8663,0.0704,521.36,483.43
19609,Alexandria,Apartment,3,Winter,1,Sidi Gaber,17.10,0.7867,0.1314,238.45,212.23
22034,Giza,Office,3,Winter,12,Imbaba,18.70,1.0157,0.1190,381.72,433.84
20648,Alexandria,Apartment,1,Winter,12,Smouha,16.09,0.8311,0.1314,191.40,179.98
5735,Asyut,Villa,6,Winter,12,Manfalut,21.43,0.8347,0.0804,760.04,685.41
17221,Sharqia,Apartment,4,Spring,5,Belbeis,26.07,0.7997,0.1121,358.49,318.82
5473,Alexandria,Apartment,5,Autumn,10,Stanley,23.09,0.8027,0.1256,411.52,371.84
13867,Asyut,Apartment,2,Autumn,9,Manfalut,29.95,0.7498,0.0790,217.06,175.60
6056,Alexandria,Apartment,2,Summer,6,Sidi Gaber,27.85,0.7788,0.1267,205.06,179.95
17525,Asyut,Apartment,3,Autumn,9,Asyut City,32.29,0.7632,0.0797,302.11,248.96