In [9]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt  
import seaborn as sb
sb.set()

In [10]:
raw_data = pd.read_csv('Raw_Data.csv')

In [11]:
raw_data.sample(10)

,L(T-1),L(T-2),L(T-24),L(T-48),P(T-1),P(T-2),P(T-24),P(T-48),Day,Season,L(T)
9143,5750.15,6161.05,5271.43,6759.03,2966.44,3483.61,2167.36,2004.43,0,2,5545.80
15250,4849.09,5956.21,4892.73,4760.00,3800.07,3727.93,3436.92,3257.39,0,0,4447.62
1624,9960.33,10081.33,11377.25,10514.95,3808.86,3339.93,5188.04,4635.63,0,1,10853.70
498,9837.13,10242.18,9980.40,10115.58,3706.59,3606.32,4139.80,5253.01,0,2,10212.18
18977,6064.20,6277.07,5859.83,6085.88,11500.22,6959.65,10338.67,5747.08,0,1,5916.74
20876,6370.81,5117.76,6706.81,5668.77,9324.56,4725.93,6076.25,10000.00,0,1,8019.90
18344,8286.55,7443.25,10337.48,8854.27,8524.10,6420.51,5799.99,7025.10,0,2,8796.58
1456,10138.65,9731.10,9829.65,11023.25,3266.32,2823.29,4103.45,4185.48,0,1,10504.33
6301,8119.95,7619.58,8484.27,9531.84,3320.22,3508.14,3390.93,3632.87,0,0,7588.40
17092,4792.85,4789.32,4284.18,4230.68,2569.98,2551.08,2680.40,2467.55,0,2,4752.93

In [12]:
# rename columns
raw_data.rename(columns={'L(T-1)': 'Load 1 hour ago', 'L(T-2)': 'Load 2 hours ago', 'L(T-24)': 'Load 24 hours ago', 'L(T-48)': 'Load 48 hours ago', 
                          'P(T-1)': 'Price 1 hour ago', 'P(T-2)': 'Price 2 hours ago', 'P(T-24)': 'Price 24 hours ago', 'P(T-48)': 'Price 48 hours ago', 
                          'L(T)': 'Load at current hour'}, inplace=True)

In [13]:
raw_data.sample(10)

,Load 1 hour ago,Load 2 hours ago,Load 24 hours ago,Load 48 hours ago,Price 1 hour ago,Price 2 hours ago,Price 24 hours ago,Price 48 hours ago,Day,Season,Load at current hour
11562,1769.85,2009.68,1980.83,3095.83,12000.00,12000.00,12000.00,12000.00,0,1,1822.98
4105,7038.55,7428.03,7664.91,6112.48,5994.11,6482.69,3323.78,2552.07,0,1,7245.05
2681,8161.58,8211.13,8184.81,7907.85,2936.89,2821.08,2943.90,2999.60,0,1,8039.08
17429,5695.41,5951.40,7811.41,6612.61,2829.75,2534.98,3643.17,3247.95,0,2,7537.95
8618,5527.55,5300.40,5221.98,5792.10,1718.46,1849.67,1626.81,1999.35,0,2,5502.25
12030,6904.95,7205.47,4772.85,3886.10,6667.45,6996.98,4837.72,4099.94,0,1,5912.29
14012,4079.53,3348.82,6037.93,5033.79,6301.87,5430.03,8940.88,6624.68,0,0,3952.80
3281,4678.75,5148.00,4088.95,6304.70,2356.96,2238.96,2071.61,2724.47,0,1,5015.85
7700,7237.85,6885.97,7243.05,6668.95,3690.02,5464.27,3835.70,3591.23,0,2,6531.63
19516,5541.33,5583.30,7315.13,6411.20,3939.69,3896.97,4109.27,3901.05,0,1,6456.72